{
  "service":{
    "path":"pkg{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}service",
    "file_name":"service.go",
    "interface_name":"{{`{{toUpperFirstCamelCase .ServiceName}}`}}Service",
    "struct_name":"stub{{`{{toCamelCase .ServiceName}}`}}Service"
  },
  "middleware":{
    "name":"middleware.go"
  },
  "endpoints":{
    "path":"pkg{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}endpoints",
    "file_name":"endpoints.go",
    "requests_file_name":"requests.go",
    "responses_file_name":"responses.go"
  },
  "transport":{
    "path":"pkg{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}{{fileSeparator}}transports",
    "file_name":"{{`{{.TransportType}}`}}.go"
  },
  "pb":{
    "path":"pb{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}"
  },
  "cmd":{
   "path":"cmd{{fileSeparator}}{{`{{toSnakeCase .ServiceName}}`}}",
   "file_name":"main.go"
  },
  "consulregister": {
    "path": "pkg/consulregister",
    "file_name":"consulregister.go"
  },
  "default_transport":"http"
}