        return responses.DataRes{service.Version{{if eq .isOnlyErrRes true}}{{else}}{{range $i,$v := $.Response}}{{if ne $v.Type "error"}}, {{if not (isPrimitiveTypes $v.Type)}}r.{{$v.Name}}{{else}}r{{end}}{{end}}{{end}}{{end}}}