        return responses.DataRes{APIVersion: service.Version{{if eq .isOnlyErrRes true}}{{else}}{{range $i,$v := $.Response}}{{if ne $v.Type "error"}}, {{if not (isPrimitiveTypes $v.Type)}}Data: r.{{$v.Name}}{{else}}Data: r{{end}}{{end}}{{end}}{{end}}}