	defer func(begin time.Time) {
	    lm.logger.Log("method", "{{$.Calling.Name}}", {{range $i,$v := $.Request.Vars}}"{{$v.Name}}", {{$v.Name}} {{if not (last $i $.Request.Vars)}},{{end}}{{end}}, "err", err)
	}(time.Now())

	return lm.next.{{$.Calling.Name}}(ctx, {{range $i,$v := $.Request.Vars}}{{$v.Name}}{{if not (last $i $.Request.Vars)}},{{end}}{{end}})