{{if ne .Comment ""}}{{.Comment}}{{end}}type {{.Name}} struct {
 {{range $i,$v := .Vars}}
  {{$v.Name}} {{$v.Type}} {{if ne $v.Tags ""}}`{{$v.Tags}}`{{end}} {{if ne $v.Comment ""}}// {{$v.Comment}}{{end}} {{end}}
 }
