
        {{if eq (len .Request.Vars) 1}}_ = grpcReply.({{.Request.Name}}){{else}}reply := grpcReply.({{.Request.Name}}){{end}}
        return {{.Response.Name}}{ {{range $i,$v := $.Request.Vars}}{{if ne $v.Name "Err"}}{{toUpperFirst $v.Name}}:reply.{{$v.Name}}{{end}}{{if not (last $i $.Request.Vars)}},{{end}}{{end}} }, nil